@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
}


html{
    font-size: 10px;
}


body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(201, 200, 200);
}

.encabezado{
background-image: url('./img/fondo_harrypotter.jpg');
background-color: rgb(221, 219, 219);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
padding: 2rem;
height: 30vh;
}

.menuSuperior{
    list-style: none;
    text-align: center;

}

.menuSuperior li{
    display: inline-block;

}

.menuSuperior a{
    text-decoration: none;
    color: rgb(247001, 169, 80);
    font-weight: 700;
    font-size: 1.4rem;
    padding: 2rem;
}