@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    font-size: 10px;
}


body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(201, 200, 200);
}

.encabezado{
background-image: url('./img/fondo_harrypotter.jpg');
background-color: rgb(221, 219, 219);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
padding: 2rem;
height: 30vh;
}

.menuSuperior{
    list-style: none;
    text-align: center;

}

.menuSuperior li{
    display: inline-block;

}

.menuSuperior a{
    text-decoration: none;
    color: rgb(247001, 169, 80);
    font-weight: 700;
    font-size: 1.4rem;
    padding: 2rem;
}

.contenido{
    background-color: rgb(234, 181, 181);
    padding: 2rem;
    width: 70%;
    float: left;

}

.contenido__imagen{
    width: 50%;
 
}

.contenido__imagen img{
    width: 100%;   
    box-shadow: 5px 5px rgba(107, 107, 107, 0.514);
    border-radius: 10px;
}

.contenido__sugerencias{
    background-color: rgb(228, 198, 255);
    line-height: 2rem;
    width: 30%;
    padding: 2rem;
    float: right;
    height: 1100px;
}

.sugerencias_libros{
    padding-top: 1rem;
    width: 90%;
}

.sugerencias_libros img{
    width: 100%;
}
.lista_libros{
    padding-top: 1rem;
}




.footer{
    background-color: black;
    clear: both;
    color: white;

}



/* ejemplo submenu */
    .menu {
        list-style: none;
        font-size:0 /* truco por el uso de inline-block*/
    }
    .menu li {
        display: inline-block;
        width: 25%;
        position:relative;
        font-size: 14px
    }
    .submenu {
        position: absolute;
        display: none;
    }
    .submenu li {
        display: block;
    }
    .menu li:hover ul {
        display:block;
    }
    